/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: $sortable-handle-color;
}
.sortable .sortable-placeholder {
    background-color: $sortable-placeholder;
}
