/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}