/* Footer */

#footer a.nav-link {
    color: $footer-link-color;
}

#footer a.nav-link:hover {
    color: $footer-link-hover-color;
}

#footer a.nav-link.active, #footer a.nav-link:active {
    color: $footer-link-active-color;
}

#footer a.nav-link:disabled {
    color: $footer-link-disabled-color;
}

.site-footer {
    text-align: center;
}

.site-footer .navbar {
    padding-bottom: 0;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: $footer-copyright-color;
}

.mce-content-body {
    padding: 20px;
}

.ui-datepicker-inline {
    position: fixed;
}