/**************************************************************************************************

    Helpers

**************************************************************************************************/

.hide {
    display: none !important;
}

.grecaptcha-badge { visibility: hidden !important; }

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}