/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $body-bg;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

main > .row {
    flex-grow: 1;
}

.main-content {
    background: $content-bg;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
}

.ubt-bottom {
  border-bottom:1px solid $table-border-color;
}

.ubt-top {
  border-top:1px solid $table-border-color;
}

.ubt-texthide {
  width:100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}