/* LOGS ******************************************************************************************/

/* These are not truly tables, but divs styled to look like tables */
.logs-table .logs-table-header {
    border-top: 1px solid $table-border-color;
    border-bottom: 2px solid $table-border-color;
    font-weight: bold;
    padding: 0px;
    flex-wrap: wrap;
}
.logs-table .logs-table-header .logs-table-cell,
.logs-table .logs-table-body .logs-table-cell {
    padding: .3rem;
}
.logs-table .logs-table-body > .logs-table-row:first-of-type {
    border-top-width: 0;
}
.logs-table .logs-table-body > .logs-table-row,
.logs-table-row .logs-table-row {
    border-top: 1px solid $table-border-color;
}