/* TRANSFERS *************************************************************************************/

.transfer-row, .submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info, .submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body, .submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content, .submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body, .submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: '';
    border: 0.3rem solid rgba(0,0,0,0.5);
    border-color: transparent transparent transparent rgba(0,0,0,0.5);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg)translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item, .user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack, .user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img, .user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled, .user-characters .character-item.disabled .character-stack  {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item, .user-characters .category-selected .character-item {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}
.user-items .category-selected.select-item-row {
    background-color: rgba(0,0,0,0.05);
}